/* Tags */
body{
    background-color: #1c1c1c;
    color: #993399;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-align: center;
}

section{
    padding: 24px;
    text-align: center;
}

footer{
    text-align: center;
    margin: auto;
    width: 570px;
    height: auto;
}

img{
    width: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*Title*/
.title{
    font-size: 48px;
}

/* List */
#list{
    margin: auto;
    width: 570px;
    height: auto;
    text-align: left;
    background-color: transparent;
    box-shadow: 0 0 2px #993399;
    border-radius: 4px;
    padding: 8px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.list-item{
    margin: 12px;
    font-size: 24px;
    list-style-type: none;
    color: #ffff;
}

/* Input */
#taskName{
    height: 32px;
    background-color: transparent;
    color: #ffff;
    border-color: #993399;
    border-radius: 4px;
    font-size: 16px;
    padding: 8px;
}

/* Check-box */
.checkbox{
    margin-right: 10px;
    height: 20px;
    width: 20px;
    background-color: #66cc66;
}

/* Buttons */
.add-task-button-astra{
    font-size: 16px;
    padding: 16px;
    background-color: purple;
    border-width: 0px;
    border-radius: 4px;
    color: #ffff;
    font-weight: bold;
}

.add-task-button-astra:hover{
    cursor: pointer;
    background-color: rgb(168, 2, 168);
}

.add-task-button-jett{
    font-size: 16px;
    padding: 16px;
    background-color: lightskyblue;
    border-width: 0px;
    border-radius: 4px;
    color: #ffff;
    font-weight: bold;
}

.add-task-button-jett:hover{
    cursor: pointer;
    background-color: #63C3FF;
}

.add-task-button-killjoy{
    font-size: 16px;
    padding: 16px;
    background-color: goldenrod;
    border-width: 0px;
    border-radius: 4px;
    color: #ffff;
    font-weight: bold;
}

.add-task-button-killjoy:hover{
    cursor: pointer;
    background-color: gold;
}

.add-task-button-skye{
    font-size: 16px;
    padding: 16px;
    background-color: #54ac54;
    border-width: 0px;
    border-radius: 4px;
    color: #ffff;
    font-weight: bold;
}

.add-task-button-skye:hover{
    cursor: pointer;
    background-color: #66cc66;
}

.remove-task-button{
    font-size: 16px;
    padding: 16px;
    background-color: crimson;
    border-width: 0px;
    border-radius: 4px;
    color: #ffff;
    font-weight: bold;
}

.remove-task-button:hover{
    cursor: pointer;
    background-color: rgb(252, 22, 68);
}

/* Nav */
nav{
    background-color: #252525;
    margin: auto;
    width: 570px;
    height: auto;
    border-radius: 4px;
}

nav li{
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
}

.nav-item-astra{
    display: inline-block;
    color: #993399;
    text-decoration: none;
    padding: 15px;
}

.nav-item-astra:hover{
    background-color: purple;
    color: white;
    border-radius: 4px;
}

.nav-item-jett{
    display: inline-block;
    color: #99CCFF;
    text-decoration: none;
    padding: 15px;
}

.nav-item-jett:hover{
    background-color: #63C3FF;;
    color: white;
    border-radius: 4px;
}

.nav-item-killjoy{
    display: inline-block;
    color: gold;
    text-decoration: none;
    padding: 15px;
}

.nav-item-killjoy:hover{
    background-color: goldenrod;
    color: white;
    border-radius: 4px;
}

.nav-item-skye{
    display: inline-block;
    color: #66cc66;
    text-decoration: none;
    padding: 15px;
}

.nav-item-skye:hover{
    background-color: #54ac54;
    color: white;
    border-radius: 4px;
}

.dropdown-menu{
    position: absolute;
    box-shadow: 0 0 2px black;
    display: none;
    background-color: #252525;
    border-radius: 4px;
    width: 103px;
}

.dropdown-menu a{
    display: block;
    border-radius: 4px;
}

.dropdown:hover .dropdown-menu{
    display: block;
}